.title {
  font-size: 3rem;
  text-align: center;
  line-height: var(--logo-height);
  height: var(--logo-height);
  margin: 0;
}

.sub-title {
  text-align: center;
  margin: 0px;
  margin-top: -10px;
}
