.footer {
    height: var(--footer-height); padding: 5px;
    text-align: center;
    line-height: 1.4; 
}

.weblink {
    text-decoration: none;
    color: inherit;
}

.weblink:hover {
    color: #767D92;
    text-decoration: underline;
}